<ion-view>
    <ion-content class="splash">
        <div>
            <img src="img/up/logo.svg" style="text-align: center; min-width: 100%" class="brandImage" title="UzaPoint Logoo">
        </div>

<div class="buttonOptions padding" style="text-align: center">
    <p>
        <button class="button button-outline button-dark btn-mylogin" ng-click="goLogin()">
            Sign into your account
        </button>
    </p>
    <p>
        <button class="button button-outline button-dark btn-mylogin">
            Sign Up for free trial
        </button>
    </p>

</div>
        <div class="brandName padding">
            Better Business, Brighter Sales
        </div>

    </ion-content>
</ion-view>