<ion-view>
    <ion-content class="myLoginPage">


        <div class="loginMessage">
            Welcome Back
        </div>

        <form class="padding" style="margin-top: 30px" ng-submit="loginUser()">

            <label class="item item-input item-stacked-label" style="background-color: transparent;">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <button type="submit" class="button button-light padding button-block"
                        style="text-align: center;">
                    Login
                </button>
            </label>

        </form>

    </ion-content>
</ion-view>