<ion-view>
    <ion-content class="myLoginPage">


        <div class="loginMessage">
            Welcome Back
        </div>

        <form class="padding" style="padding: 20px" ng-submit="loginUser()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <button type="submit" class="button button-light" style="text-align: center">
                button-light
            </button>
        </form>

    </ion-content>
</ion-view>