<ion-view title="Order Product">
    <ion-content>
        <div class="row text-center">
            <div class="card" ng-click="upFood()">
                <div class="item item-text-wrap item-avatar-left">
                    <img src="img/up/menu.png" style="height: 45px" width="100%" alt="">
                    <strong>Product Name</strong>
                    <p>Product description.Product description.Product description.Product description.</p>
                </div>
                <div class="item-divider">
                    <button class="button button-small button-balanced"><i class="icon ion-ios-telephone-outline"></i>
                        call 0732636324
                    </button>

                </div>
                <div class="list">

                    <label class="item item-input">
                        <textarea placeholder="Comments"></textarea>
                    </label>
                    <button class="button button-primary">Order Product</button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>