<ion-view title="Sub-Categories">
    <ion-content>
        <div class="row text-center">
            <div class="col col-50">
                <div class="card" ng-click="findFood()">
                    <div class="item item-text-wrap">
                        <img src="img/up/menu.png" style="height: 45px" width="100%" alt="">
                        <div class="item item-divider">
                            <p>Fruits</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card" ng-click="upTaxi()">
                    <div class="item item-text-wrap">
                        <img src="img/up/menu.png" style="height: 45px" width="100%" alt="">
                        <div class="item item-divider">
                            <p>Vegetable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col col-50">
                <div class="card" ng-click="upFood()">
                    <div class="item item-text-wrap">
                        <img src="img/up/menu.png" style="height: 45px" width="100%" alt="">
                        <div class="item item-divider">
                            <p>drink</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card" ng-click="upTaxi()">
                    <div class="item item-text-wrap">
                        <img src="img/up/menu.png" style="height: 45px" width="100%" alt="">
                        <div class="item item-divider">
                            <p>Cakes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>