<ion-slide-box class="myWalkThrough">

    <ion-slide>
        <div class = "box box1 ">
            <div class="theMessage">
                <div class="card">
                    <div class="item item-text-wrap">
                       Hi, Abraham
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>

    <ion-slide>
        <div class = "box box2">
            <div class="theMessage">
                <div class="card">
                    <div class="item item-text-wrap">
                        This is a basic Card which contains an item that has wrapping text.
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>

    <ion-slide>
        <div class = "box box3">
            <div class="theMessage">
                <div class="card">
                    <div class="item item-text-wrap">
                        This is a basic Card which contains an item that has wrapping text.
                        This is a basic Card which contains an item that has wrapping text.
                        This is a basic Card which contains an item that has wrapping text.
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class = "box box4">
            <div class="theMessage">
                <div class="card">
                    <div class="item item-text-wrap">
                        This is a basic Card which contains an item that has wrapping text.
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>

</ion-slide-box>